In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("datasets/Minimum Wage Data.csv", encoding = "latin")

In [11]:
df.to_csv("datasets/minwage.csv", encoding = "utf-8")
df= pd.read_csv("datasets/minwage.csv")
# df.head()

In [12]:
gb = df.groupby("State")
gb.get_group("Alabama").set_index("Year").head(1)

,Unnamed: 0,Unnamed: 0.1,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
Year,,,,,,,,,,
1968,0,0,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0